body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.container {
    margin-top: 20px;
}
.sidebar {
    height: 100vh;
    overflow-y: auto;
    background-color: #e9ecef;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.sidebar .group-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}
.sidebar .group-item:hover {
    background-color: #d1e7dd;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
.grid-item {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position: relative;
}
.grid-item:hover {
    transform: scale(1.05);
}
.grid-item img {
    border-radius: 8px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.enlarge {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 1050;
    border: 3px solid #007bff;
    border-radius: 10px;
}
.enlarge-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
.classify-controls {
    margin-top: 15px;
}
.classify-controls .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  /* Allow buttons to wrap to the next line */
    /* gap: 10px;  /* Add spacing between buttons for a better look */
    justify-content: center; /* Center buttons within the container */
    
}
.btn-group .btn {
    flex: 1 1 15%;  /* Make each button take up approximately 45% of the row */
    /* margin-bottom: 10px;  Add margin to ensure spacing between rows when wrapping */
}
.ron-btn {
    margin-top: 10px;
    border-radius: 50px;
    padding: 8px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.ron-btn.no {
    background-color: #ffffff;
    color: #6c757d;
    border: 1px solid #6c757d;
}
.ron-btn:hover {
    background-color: #218838;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.ron-btn.no:hover {
    background-color: #e9ecef;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.navbar {
    margin-bottom: 20px;
}
#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}